@model IEnumerable<Zenith.BLL.DTO.GetVendorsListDTO>

@{
    ViewData["Title"] = "Workbench";
}

<style>
    .title {
        color: #00387f;
        font-weight: 600;
        text-align: center;
        margin-bottom: 40px;
    }

        .title span {
            color: #C72C1C;
        }
</style>

<div class="container-fluid">
    <div class="row">
        <!-- sidebar -->
        <div class="col-md-3 col-lg-2 px-0 shadow-sm sidebar">
            <partial name="_Sidebar" />
        </div>

        <div class="col-md-9 col-lg-10 ml-md-auto mt-3">
            <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="py-2 mb-0 title"><span> Manager Workbench</span></h1>
                </div>
                <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Vendor Approval requests</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">User Approval requests</button>
                    </li>
                </ul>

                <div class="tab-content mt-4" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="d-flex align-items-center">
                            <div class="d-flex">
                                <select class="form-select me-3" style="width:170px;" id="fieldNameId">
                                    <option selected>Select</option>
                                    <option value="supplierName">Supplier Name</option>
                                    <option value="requestNo">Vendor Req No.</option>
                                    <option value="supplierCountry">Supplier Country</option>
                                </select>
                                <input type="search" class="form-control" id="searchInputId" placeholder="Search here" style="width:200px;" />
                                <input type="button" class="btn btn-primary ms-3" onclick="searchVendor()" value="Search" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div id="divVendorApprovalListPartialView" class="overflow-auto">
                                    @Html.Partial("_VendorApprovalListPartialView", Model)
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- second !-->
                    <div id="profile" class="tab-pane fade" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="d-flex align-items-center">
                            <div class="d-flex">
                                <select class="form-select me-3" style="width:170px;" id="fieldNameId">
                                    <option selected>Select</option>
                                    <option value="fullname">Full Name</option>
                                </select>
                                <input type="search" class="form-control" placeholder="Search here" style="width:200px;" />
                                <input type="button" class="btn btn-primary ms-3" onclick="searchVendor()" value="Search" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div id="divVendorApprovalListPartialView" class="overflow-auto">
                                    <table class="table table-striped table-bordered" style="width:128%">
                                        <thead class="bg-primary text-white text-center text-nowrap">
                                            <tr>
                                                <th><b>Approval Type</b></th>
                                                <th><b>Full Name</b></th>
                                                <th><b>From Date</b></th>
                                                <th><b>To Date</b></th>
                                                <th><b>Created On</b></th>
                                                <th><b>Work Status</b></th>
                                                <th><b>Approval</b></th>
                                                <th><b>Reject Reason</b></th>
                                                <th><b>Comments</b></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>

    function showRejectContainer(vendorId) {
        $('.divRejectReasonDDL_'+vendorId).show();
    }
    
    function onChangeRejectReasonDDLEvent(vendorId) {
        var rejectionId = document.querySelector('.reasonSelectContainer_' + vendorId).value;
        if (rejectionId) {
            changeStatus(vendorId, 'false', rejectionId);
        } 
    }

    function changeStatus(VendorsInitializationFormId, msg, rejectionId) {
        var isApproved = false;
        var rejectReasonId = null;
        var comment = $('.comment_' + VendorsInitializationFormId).val();
        if (msg == 'true') {
            isApproved = true;
        } 
        if(msg == 'false') {
            rejectReasonId = rejectionId;
        }

        $.ajax({
            url: '/Workbench/UpdateVendor',
            type: 'POST',
            data: {
                VendorsInitializationFormId: VendorsInitializationFormId,
                isApproved: isApproved,
                rejectionReasonId: rejectReasonId,
                comments: comment
            },
            success: function (resp) {
                if (msg != 'comment') {
                    window.location.reload();
                }
            }
        });
    }

    $('#uploadButton').click(function () {
        var fileInput = $('#fileInput')[0].files[0];

        if (!fileInput) {
            alert("Please select a file first.");
            return;
        }

        var formData = new FormData();
        formData.append("file", fileInput);

        $.ajax({
            url: "/Vendors/NewVendorUploadExcel",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                // Display a popup message with success and failure counts
                let message = `${response.successCount} Vendors uploaded successfully.`;
                if (response.failureCount > 0) {
                    message += ` ${response.failureCount} failed. Please see the downloaded file for details.`;
                    // Trigger download if there were failures
                    var link = document.createElement('a');
                    link.href = response.fileUrl;
                    link.download = "InvalidRecords.xlsx";
                    link.click();
                }
                alert(message); // Or use a custom popup method
            },
            error: function (xhr, status, error) {
                console.error("Error uploading file:", error);
            }
        });
    });

    function searchVendor() {
        var fieldName = $("#fieldNameId").val();
        var searchText = $("#searchInputId").val();
        $.ajax({
            url: '/Workbench/_VendorApprovalListPartialView',
            type: 'POST',
            data: { fieldName: fieldName, searchText: searchText },
            success: function (result) {
                $("#divVendorApprovalListPartialView").html(result);
            }
        });
    }

</script>



