@{
    ViewData["Title"] = "Add new wORK fLOW";
}

<style>
    .title {
        color: #00387f;
        font-weight: 600;
        text-align: center;
        margin-bottom: 40px;
    }

        .title span {
            color: #C72C1C;
        }
</style>

<div class="container-fluid">
    <div class="row">
        <!-- sidebar -->
        <div class="col-md-3 col-lg-2 px-0 shadow-sm sidebar">
            <partial name="_Sidebar" />
        </div>

        <div class="col-md-9 col-lg-10 ml-md-auto mt-3">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="py-2 mb-0 title"><span>Add new </span> Work Flow</h1>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="border-bottom mb-3 pb-3">Supplier Info</h5>
                        <div class="mb-3">
                            <div class="form-group mb-2 ">
                                <label>RoleId</label>
                                <input type="text" class="form-control mt-2" placeholder="RoleId" id="roleid" />
                            </div>
                            <div class="form-group mb-2 ">
                                <label>StepOrder</label>
                                <input type="number" class="form-control mt-2" placeholder="StepOrder" id="steporder" />
                            </div>
                            <div class="form-group mb-2 ">
                                <label>StepName</label>
                                <input type="StepName" class="form-control mt-2" placeholder="StepName" id="stepname" />
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <!--Thired-->
                        @* <h5 class="border-bottom mb-3 pb-3">Supplier Info - Contact</h5> *@
                        <div class="mb-3">
                            <div class="form-group mb-2 ">
                                <label>Description</label>
                                <input type="text" class="form-control mt-2" placeholder="Description" id="description" />
                            </div>
                            <div class="form-group mb-2">
                                <label>Is Active</label>
                                <div class="mt-2">
                                    <label>
                                        <input type="radio" name="IsActive" id="IsActiveYes" value="Yes" />
                                        Yes
                                    </label>
                                    <label class="ms-3">
                                        <input type="radio" name="IsActive" id="IsActiveNo" value="No" />
                                        No
                                    </label>
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <label>Is Critical Only</label>
                                <div class="mt-2">
                                    <label>
                                        <input type="radio" name="IsCriticalOnly" id="IsCriticalOnlyYes" value="Yes" />
                                        Yes
                                    </label>
                                    <label class="ms-3">
                                        <input type="radio" name="IsCriticalOnly" id="IsCriticalOnlyNo" value="No" />
                                        No
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="addVendor(false)">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/common.js"></script>

<script>

    function addVendor(allowDuplicateVendor) {

        let roleId = $('#roleid').val();
        let stepOrder = $('#steporder').val();
        let stepName = $('#stepname').val();
        let description = $("#description").val();
        let isactive = $('input[name="IsActive"]:checked').val() === 'Yes';
        let iscriticalonly = $('input[name="IsCriticalOnly"]:checked').val() === 'Yes';
        alert(roleId);

        if (roleid != '' && steporder != '' && stepname != '' && description != '') {
            $.ajax({
                url: '/VQWorkFlow/AddVQWorkFlow',
                type: 'POST',
                data: {
                    roleId: roleId,
                    stepOrder: stepOrder,
                    stepName: stepName,
                    description: description,
                    isactive: isactive,
                    iscriticalonly: iscriticalonly
                },
                success: function (resp) {
                    if (resp == 0) {
                        showconfirmationPopUp()
                    } else {
                        window.location.reload();
                    }
                }
            });
        }
    }

    function showconfirmationPopUp() {
        Swal.fire({
            title: "Supplier already exists",
            text: "Do you still want to continue?",
            icon: "info",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            confirmButtonText: "Yes",
            cancelButtonColor: "#d33",
        }).then((result) => {
            if (result.dismiss === Swal.DismissReason.cancel) {
                console.log("User canceled supplier creation");
                window.location.reload();
            } else {
                addVendor(true);
            }
        });
    }

</script>